.vs/BistroDriveWebApp/v14/.suo
.vs/config/applicationhost.config
BistroDriveWebApp/bin/BistroDriveWebApp.dll
BistroDriveWebApp/bin/BistroDriveWebApp.pdb
BistroDriveWebApp/obj/Debug/BistroDriveWebApp.csproj.FileListAbsolute.txt
BistroDriveWebApp/obj/Debug/BistroDriveWebApp.csprojResolveAssemblyReference.cache
BistroDriveWebApp/obj/Debug/BistroDriveWebApp.dll
BistroDriveWebApp/obj/Debug/BistroDriveWebApp.pdb
BistroDriveWebApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BistroDriveWebApp/bin/WebMatrix.Data.dll
BistroDriveWebApp/bin/WebMatrix.Data.xml
BistroDriveWebApp/bin/WebMatrix.WebData.dll
BistroDriveWebApp/bin/WebMatrix.WebData.xml