<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bistrodrive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bistrodrive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bistrodrive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>akrex</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbContextConnectionString" Order="1" Enabled="False">
          <Destination Path="server=eu-cdbr-azure-west-c.cloudapp.net;UserId=b85f59df71ba08;password=e4d64bd3;database=BistroDrive;CharSet=utf8;Persist Security Info=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BistroDriveWebApp.Models.ApplicationDbContext, BistroDriveWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BistroDriveEntities" Order="9" Enabled="False">
          <Destination Path="server=eu-cdbr-azure-west-c.cloudapp.net;UserId=b85f59df71ba08;password=e4d64bd3;database=BistroDrive;CharSet=utf8;Persist Security Info=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BistroDriveWebApp.Models.BistroDriveEntities, BistroDriveWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BistroDriveEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string="server=eu-cdbr-azure-west-c.cloudapp.net;UserId=b85f59df71ba08;password=e4d64bd3;database=BistroDrive;CharSet=utf8;Persist Security Info=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDbContextConnectionString-Web.config Connection String">
      <ParameterValue>server=eu-cdbr-azure-west-c.cloudapp.net;UserId=b85f59df71ba08;password=e4d64bd3;database=BistroDrive;CharSet=utf8;Persist Security Info=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>