.signin {
    h2 {
        margin-top: 0;
    }

    form {
        margin-bottom: 20px;
    }

    .glyphicon {
        top: 0;
    }
}

.settings-form {
    .checkbox {
        display: inline;
        float: left;

        label {
            margin-top: -3px;
        }
    }
}
