
.orders-page {

    table {

        max-width: 120% !important;
        width: 120% !important;

        margin-left: -7em !important;

        tr:not(:first-child) {
            transition: .1s background-color ease;
            cursor: pointer;

            &:hover, a:hover {
                background-color: #e8e8e8;
            }

            td {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }

        a {
            &:hover {
                color: #20a8ff;
            }
        }
    }
}