@model BistroDriveWebApp.Models.DishViewModel

@{
    ViewBag.Title = "Редактирование блюда";
}

<h2>Редактирование блюда</h2>

@using (Html.BeginForm("EditDish", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("/Views/Profile/_DishPartial.cshtml",Model)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-info" />
            @Html.ActionLink("Отмена", "Index", null,  htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
}
