@{
    ViewBag.Title = ViewBag.UserName+" ("+ViewBag.FristName+" "+ViewBag.Surname+")";
}

<h2>@ViewBag.Title</h2>

<div>
    <div>
        <div><image src="@ViewBag.AvatarUrl" width="200" height="200"/></div>
        <p>@ViewBag.Description</p>
    </div>
</div>
