@{
    ViewBag.Title = "Home Page";
}
    <div id="fullpage">
    <div class="section" id="section1">
        <div class="row">
            <div class="col-md-7">
                <hgroup>
                    <h2 class="mr-10">Любишь готовить и хочешь на этом подзаработать?</h2>
                    <h2 class="mr-10">Или, может быть, лень заниматься готовкой?</h2>
                </hgroup>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2>В любом случае тебе к нам!</h2>
                <form action="">
                    <input type="text" class="ent-numb input-lg" placeholder="Номер телефона...">
                    <input type="button" class="btn-submit-land input-lg" value="Зарегистрироваться!">
                </form>
            </div>
        </div>

    </div>
    <div class="section" id="section2">
        <div class="wrap">
            <div class="row">
                <div class="col-md-2">
                    <img class=chiefhat src="~/Content/images/chiefhat.png" alt="">
                </div>
                <div class="col-md-offset-8 col-md-2">
                    <nav class="top-menu">
                        <ul>
                            <li><a href="#" class="login-top-btn">Вход</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <h1 class="centered-text">Как это работает?</h1>
                <div class="col-md-6">
                    <h2 class=script>Если ты любишь готовить, то почему бы не помогать с готовкой другим, да еще и зарабатывать на этом?</h2>
                    <h2 class="rockwell"><span class=bistro>Bistro</span><span class=drive>Drive</span> <span class=norm-weight>поможет тебе в этом!</span></h2>
                    <h3 class=script>Просто выставляй предложения своих услуг прямо тут и жди заказов!</h3>
                    <p class="textlight col-md-offset-8"><a href="#">Узнать подробнее...</a></p>
                </div>

            </div>
        </div>

    </div>


    <div class="section" id="section3">
        <div class="wrap">
            <div class="row">
                <div class="col-md-2">
                    <img class=chiefhat src="~/Content/images/chiefhat.png" alt="">
                </div>
                <div class="col-md-offset-8 col-md-2">
                    <div class="top-menu">
                        <nav>
                            <ul>
                                <li><a href="#" class="login-top-btn">Вход</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="centered-text">Как это работает?</h1>
                <div class="col-md-6">
                    <h2 class=script>	Нужна помощь в готовке на праздник? Просто лень готовить, а ресторан - слишком дорого?</h2>
                    <h2 class="rockwell"><span class=bistro>Bistro</span><span class=drive>Drive</span> <span class=norm-weight>поможет и в этом!</span></h2>
                    <h3 class=script>	Заходи к нам в каталог предложений и заказывай то,что больше всего понравилось!</h3>
                    <p class="textlight col-md-offset-6"><a href="#">Узнать подробнее...</a></p>
                </div>

            </div>
        </div>

    </div>
    <div class="section" id="section4">
        <div class="wrap">
            <div class="row">
                <div class="col-md-2">
                    <img class=chiefhat src="~/Content/images/chiefhat.png" alt="">
                </div>
                <div class="col-md-9">
                    <h1 class="attention">Хватит ждать, присоединяйся к нам!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-5">
                    <form class=lastpage action="">
                        <input type="text" class="ent-numb input-lg" placeholder="Номер телефона...">
                        <input type="button" class="btn-submit-land input-lg" value="Зарегистрироваться!">
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
